@font-face {
    font-family: 'Copperplate';
    src: url('../fonts/copperplate.ttf');
} 

body {
    width: 100%;
    font-family:'Copperplate', sans-serif;
    background: rgb(19, 20, 20) !important;
    color: white !important;
}


* {
    font-family:'Copperplate', sans-serif;
}